[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
explicit-defaults-for-timestamp = 1
general_log = ON
slow_query_log = 1
long_query_time = 0.1
log_queries_not_using_indexes = 1
log-timestamps = SYSTEM

[client]
default-character-set = utf8
